.App {
  min-height: 100vh;
  width: 100%;
  padding: 20px 20%;
}
.selector_container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.select_button{
  background: transparent;
  border: none;
  outline: none;
  padding: 8px 16px;
  font-size: 20px;
  font-weight: 900;
  color: black;
  border-bottom: 3px solid black;
}
.active_select_button{
  color: #ff9b7d;
  border-bottom: 3px solid #ff9b7d;
}
.select_button:hover{
  color: #ff9b7d;
  border-bottom: 3px solid #ff9b7d;
}
.content_container{ 
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
